# 10 For-Loop-Rückblick-Übungen

In den Teilen der folgenden Übungen habe ich den Code mit "XXX" ausgewechselt. Es gilt in allen Übungen, den korrekten Code auszuführen und die Zelle dann auszuführen.

1.Drucke alle diese Prim-Zahlen aus:

In [ ]:
primes = [2, 3, 5, 7]
for prime in primes:
    print(prime)

2.Drucke alle die Zahlen von 0 bis 4 aus:

In [ ]:
for x in range(5):
    print(x)

3.Drucke die Zahlen 3,4,5 aus:

In [ ]:
for x in range(3, 6):
    print(x)

4.Baue einen For-Loop, indem Du alle geraden Zahlen ausdruckst, die tiefer sind als 237.

In [ ]:
numbers = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527
]

In [ ]:
for x in numbers:
    if x in range(237):
        if (x % 2 == 0):
            print(x)

In [ ]:
#Lösung:

5.Addiere alle Zahlen in der Liste

In [ ]:
sum(numbers)

In [ ]:
#Lösung:

6.Addiere nur die Zahlen, die gerade sind

In [ ]:
numbers = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527
]

In [ ]:
new_list=[]
for elem in numbers:
    if elem % 2 == 0:
        new_list.append(elem)
sum(new_list)

7.Drucke mit einem For Loop 5 Mal hintereinander Hello World aus

In [ ]:
for x in range(5): 
    print ("Hello World")

In [ ]:
#Lösung

8.Entwickle ein Programm, das alle Nummern zwischen 2000 und 3200 findet, die durch 7, aber nicht durch 5 teilbar sind. Das Ergebnis sollte auf einer Zeile ausgedruckt werden. Tipp: Schaue Dir [hier](https://www.tutorialspoint.com/python/comparison_operators_example.htm) die Vergleichsoperanden von Python an.

In [ ]:
l=[]
for i in range(2000, 3200):
    if (i%7==0) and (i%5>=0):
        l.append(str(i))

print(','.join(l))

9.Schreibe einen For Loop, der die Nummern in der folgenden Liste von int in str verwandelt.

In [1]:
lst = range(45,99)

In [2]:
new_list=[]
for elem in lst:
    str(elem)
    new_list.append(str(elem))
print(new_list)

['45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98']

10.Schreibe nun ein Programm, das alle Ziffern 4 mit dem Buchstaben A ersetzte, alle Ziffern 5 mit dem Buchtaben B.

In [3]:
newnewlist = []
for elem in new_list:
    if '4' in elem:
        elem = elem.replace('4', 'A')
    if '5' in elem:
        elem = elem.replace('5', 'B')
    newnewlist.append(elem)

In [4]:
newnewlist

['AB',
 'A6',
 'A7',
 'A8',
 'A9',
 'B0',
 'B1',
 'B2',
 'B3',
 'BA',
 'BB',
 'B6',
 'B7',
 'B8',
 'B9',
 '60',
 '61',
 '62',
 '63',
 '6A',
 '6B',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '7A',
 '7B',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '8A',
 '8B',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '9A',
 '9B',
 '96',
 '97',
 '98']