# 03 Python Functions, 10 Übungen

Hier nochmals zur Erinnerung, wie Funktionen geschrieben werden.

In [4]:
def test(element):
    return element * 2

In [1]:
lst = list(range(1,100))

In [5]:
test(9)

18

In [9]:
for x in lst:
    print(test(x))

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198

Multipliziert Integers oder Floats mit 2

In [2]:
test(5)

10

1.Schreibe eine Funktion, die aus einer Liste, die grösste Zahl herauszieht. Es ist verboten mit "max" zu arbeiten. :-)

In [12]:
lst = [3,5,6,2,6,89,90]

In [13]:
max(lst)

90

In [14]:
def maxi(element):
    element.sort()
    element.reverse()
    return element[0]

In [15]:
maxi(lst)

90

In [16]:
count = 0
def maxi(element):
    if element > count:
        
    return element[-1]

In [17]:
maxi(lst)

90

2.Schreibe eine Funktion, die alle Elemente einer Liste, addiert. Es ist verboten mit "sum" zu arbeiten.

In [18]:
lst = [23,213, 234,234, 3323]

In [19]:
def numbers(lst):
    added = 0
    for number in lst:
        added += number
    return added

In [21]:
numbers(lst)

4027

3.Schreibe eine Funktion, die alle Elemente einer Liste multipliziert.

In [22]:
lst = [23,213, 234,234, 3323]

In [23]:
def numbers(lst):
    added = 1
    for number in lst:
        added *= number
    return added

In [24]:
numbers(lst)

891393567012

4.Schreibe eine Funktion, die einen String nimmt, und spiegelt. Also "hallo" zu "ollah".

In [25]:
hallo = 'hallo'

In [28]:
def mirrorstring(string):
    mirrored = []
    new_string = ''
    for char in string:
        mirrored.insert(0,char)
    for char in mirrored:
        new_string = new_string + char
    return new_string

In [29]:
mirrorstring(hallo)

'ollah'

In [34]:
def mirror(mylist):
        return mylist[::-1]

In [42]:
list(hallo).reverse()

In [36]:
[2,4,5,5,6][::-1]

[6, 5, 5, 4, 2]

In [35]:
mirror(hallo)

'ollah'

In [43]:
def umkehr(wort):
    lm = input('bitte geben Sie ein Wort ein.')
    wort = list(lm)
    wort.reverse()
    print(wort)

In [46]:
umkehr('')

bitte geben Sie ein Wort ein.hallo
['o', 'l', 'l', 'a', 'h']

5.Schreibe eine Funktion, die prüft, ob eine Zahl in einer bestimmten Zahlenfolge zu finden ist.

In [49]:
zahl = 56
liste = [45, 34, 64,45]

In [59]:
def isinlist(number,lst):
    for elem in lst:
        if elem == number:
            return True 
    return False

In [55]:
isinlist(34, liste)

False

In [56]:
zahleliste = [45,57,34,64]

In [61]:
for elem in zahleliste:
    print(isinlist(elem,liste))

True
False
True
True

6.Lösche die mehrfach genannten Elemente aus der folgenden Liste.

In [5]:
liste = [5,5,5,5,3,2,11,5]

7.Drucke die geraden Zahlen aus der folgenden Liste aus:

In [ ]:
lst = [34,23,22,443,45,78,23,89,23]

8.Prüfe mit einer Funktionen, wieviele Grossbuchstaben in folgendem Satz zu finden sind.

In [44]:
satz = "In Oesterreich zeichnet sich ein Rechtsrutsch ab. OeVP und FPOe haben stark zugelegt. Gemaess der neusten Hochrechnung ist die Partei von Sebastian Kurz mit 31,6 Prozent der Stimmen Wahlsiegerin, auf Platz zwei folgt die SPÖ (26,9 Prozent) vor der FPOe (26,0 Prozent)."

In [49]:
def counting_caps(XXXXX):
    XXXXXX = 0
    for XXXXXX in elem:
        if XXXXXX.isupper():
            XXXXXXX += 1
    return  XXXXXXXX

In [50]:
 counting_caps(satz)

26

9.Prüfe mit einer Funktionen, wieviele 'e's in folgendem Satz zu finden sind.

10.Schreibe eine Funktion, die auf eine andere Funktion nutzt.