In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('P3_GrantExport.csv', sep=';', error_bad_lines=False)

b'Skipping line 15384: expected 18 fields, saw 19\nSkipping line 19118: expected 18 fields, saw 22\nSkipping line 20104: expected 18 fields, saw 19\nSkipping line 22178: expected 18 fields, saw 23\nSkipping line 22426: expected 18 fields, saw 23\nSkipping line 24491: expected 18 fields, saw 24\nSkipping line 25196: expected 18 fields, saw 23\nSkipping line 25210: expected 18 fields, saw 25\nSkipping line 25782: expected 18 fields, saw 22\nSkipping line 30599: expected 18 fields, saw 24\nSkipping line 31698: expected 18 fields, saw 19\nSkipping line 31798: expected 18 fields, saw 20\nSkipping line 32463: expected 18 fields, saw 21\nSkipping line 32727: expected 18 fields, saw 19\nSkipping line 32743: expected 18 fields, saw 19\n'
b'Skipping line 32845: expected 18 fields, saw 25\nSkipping line 33518: expected 18 fields, saw 21\nSkipping line 33579: expected 18 fields, saw 21\nSkipping line 34695: expected 18 fields, saw 19\nSkipping line 34935: expected 18 fields, saw 25\nSkipping line 36780: expected 18 fields, saw 22\nSkipping line 37615: expected 18 fields, saw 21\nSkipping line 38179: expected 18 fields, saw 20\nSkipping line 38885: expected 18 fields, saw 21\nSkipping line 39205: expected 18 fields, saw 20\nSkipping line 39613: expected 18 fields, saw 19\nSkipping line 39714: expected 18 fields, saw 25\nSkipping line 40801: expected 18 fields, saw 20\nSkipping line 41887: expected 18 fields, saw 28\nSkipping line 42401: expected 18 fields, saw 19\nSkipping line 42723: expected 18 fields, saw 22\nSkipping line 43654: expected 18 fields, saw 19\nSkipping line 43714: expected 18 fields, saw 19\nSkipping line 44624: expected 18 fields, saw 28\nSkipping line 45468: expected 18 fields, saw 19\nSkipping line 45533: expected 18 fields, saw 19\nSkipping line 46015: expected 18 fields, saw 24\nSkipping line 46769: expected 18 fields, saw 20\nSkipping line 46965: expected 18 fields, saw 21\nSkipping line 48350: expected 18 fields, saw 23\nSkipping line 49503: expected 18 fields, saw 20\nSkipping line 49643: expected 18 fields, saw 19\nSkipping line 50113: expected 18 fields, saw 19\nSkipping line 51851: expected 18 fields, saw 19\nSkipping line 53013: expected 18 fields, saw 22\nSkipping line 56012: expected 18 fields, saw 25\nSkipping line 56597: expected 18 fields, saw 22\nSkipping line 57118: expected 18 fields, saw 21\nSkipping line 57673: expected 18 fields, saw 19\nSkipping line 57718: expected 18 fields, saw 23\nSkipping line 59877: expected 18 fields, saw 20\nSkipping line 60084: expected 18 fields, saw 19\nSkipping line 61668: expected 18 fields, saw 22\nSkipping line 62231: expected 18 fields, saw 20\nSkipping line 62581: expected 18 fields, saw 23\nSkipping line 63395: expected 18 fields, saw 19\nSkipping line 65217: expected 18 fields, saw 20\nSkipping line 65453: expected 18 fields, saw 22\nSkipping line 65549: expected 18 fields, saw 20\n'
b'Skipping line 65703: expected 18 fields, saw 22\nSkipping line 66263: expected 18 fields, saw 23\nSkipping line 66863: expected 18 fields, saw 20\nSkipping line 66867: expected 18 fields, saw 22\n'

In [8]:
df.info() #Aufgabe 2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67162 entries, 0 to 67161
Data columns (total 18 columns):
Project Number                  67162 non-null int64
Project Number String           67162 non-null object
Project Title                   67161 non-null object
Project Title English           26872 non-null object
Responsible Applicant           67162 non-null object
Funding Instrument              67162 non-null object
Funding Instrument Hierarchy    65362 non-null object
Institution                     61766 non-null object
Institution Country             61701 non-null object
University                      66893 non-null object
Discipline Number               67162 non-null int64
Discipline Name                 67162 non-null object
Discipline Name Hierarchy       66671 non-null object
All disciplines                 67161 non-null object
Start Date                      67160 non-null object
End Date                        67160 non-null object
Approved Amount                 67162 non-null object
Keywords                        42110 non-null object
dtypes: int64(2), object(16)
memory usage: 9.2+ MB

In [9]:
df["Approved Amount"]

0          11619.00
1          41022.00
2          79732.00
3          52627.00
4         120042.00
5          53009.00
6          25403.00
7          47100.00
8          25814.00
9         360000.00
10        153886.00
11        862200.00
12        116991.00
13        112664.00
14          5000.00
15        204018.00
16        149485.00
17         83983.00
18         38152.00
19         14138.00
20        164602.00
21        147795.00
22         24552.00
23         44802.00
24         56000.00
25        152535.00
26        225000.00
27        179124.00
28         20000.00
29        445198.00
            ...
67132       4500.00
67133       8900.00
67134      21500.00
67135      12150.00
67136       7300.00
67137       5050.00
67138      10000.00
67139       4400.00
67140      12000.00
67141     180000.00
67142     180000.00
67143       8432.00
67144       5600.00
67145       8900.00
67146     180000.00
67147     180000.00
67148      13130.00
67149      10080.00
67150       3000.00
67151       9960.00
67152       2725.00
67153       4500.00
67154      11050.00
67155      15700.00
67156     180000.00
67157     180000.00
67158      25000.00
67159    1544165.00
67160       3360.00
67161       7575.00
Name: Approved Amount, Length: 67162, dtype: object

In [16]:
def comma(elem):
    try:
        elem = elem.split('.')[1]
        return int(elem)
    except:
        return elem

In [17]:
df["Approved Amount"] = df["Approved Amount"].apply(comma)

In [18]:
df["Approved Amount"]

0          11619
1          41022
2          79732
3          52627
4         120042
5          53009
6          25403
7          47100
8          25814
9         360000
10        153886
11        862200
12        116991
13        112664
14          5000
15        204018
16        149485
17         83983
18         38152
19         14138
20        164602
21        147795
22         24552
23         44802
24         56000
25        152535
26        225000
27        179124
28         20000
29        445198
          ...
67132       4500
67133       8900
67134      21500
67135      12150
67136       7300
67137       5050
67138      10000
67139       4400
67140      12000
67141     180000
67142     180000
67143       8432
67144       5600
67145       8900
67146     180000
67147     180000
67148      13130
67149      10080
67150       3000
67151       9960
67152       2725
67153       4500
67154      11050
67155      15700
67156     180000
67157     180000
67158      25000
67159    1544165
67160       3360
67161       7575
Name: Approved Amount, Length: 67162, dtype: object

In [19]:
df["Approved Amount"].astype(int)

ValueError: invalid literal for int() with base 10: 'data not included in P3'

In [24]:
def invalid(elem):
    try:
        elem
        return int(elem)
    except ValueError:
        del elem

In [41]:
df["Approved Amount"].apply(invalid)

0          11619.0
1          41022.0
2          79732.0
3          52627.0
4         120042.0
5          53009.0
6          25403.0
7          47100.0
8          25814.0
9         360000.0
10        153886.0
11        862200.0
12        116991.0
13        112664.0
14          5000.0
15        204018.0
16        149485.0
17         83983.0
18         38152.0
19         14138.0
20        164602.0
21        147795.0
22         24552.0
23         44802.0
24         56000.0
25        152535.0
26        225000.0
27        179124.0
28         20000.0
29        445198.0
           ...
67132       4500.0
67133       8900.0
67134      21500.0
67135      12150.0
67136       7300.0
67137       5050.0
67138      10000.0
67139       4400.0
67140      12000.0
67141     180000.0
67142     180000.0
67143       8432.0
67144       5600.0
67145       8900.0
67146     180000.0
67147     180000.0
67148      13130.0
67149      10080.0
67150       3000.0
67151       9960.0
67152       2725.0
67153       4500.0
67154      11050.0
67155      15700.0
67156     180000.0
67157     180000.0
67158      25000.0
67159    1544165.0
67160       3360.0
67161       7575.0
Name: Approved Amount, Length: 67162, dtype: float64

In [26]:
df["Approved Amount"] = df["Approved Amount"].apply(invalid)

In [33]:
df["Approved Amount"].sum()/1000000 #Aufgabe 4

14719.815766

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67162 entries, 0 to 67161
Data columns (total 19 columns):
Project Number                  67162 non-null int64
Project Number String           67162 non-null object
Project Title                   67161 non-null object
Project Title English           26872 non-null object
Responsible Applicant           67162 non-null object
Funding Instrument              67162 non-null object
Funding Instrument Hierarchy    65362 non-null object
Institution                     61766 non-null object
Institution Country             61701 non-null object
University                      66893 non-null object
Discipline Number               67162 non-null int64
Discipline Name                 67162 non-null object
Discipline Name Hierarchy       66671 non-null object
All disciplines                 67161 non-null object
Start Date                      67160 non-null object
End Date                        67160 non-null object
Approved Amount                 55637 non-null float64
Keywords                        42110 non-null object
Approved Amount Total           67162 non-null float64
dtypes: float64(2), int64(2), object(15)
memory usage: 9.7+ MB

In [55]:
df.groupby('University')["Approved Amount"].sum().sort_values(ascending=False).head(10) #Aufgabe 5

University
University of Geneva – GE                                                                         2.090010e+09
University of Zurich – ZH                                                                         2.089479e+09
ETH Zurich – ETHZ                                                                                 1.865874e+09
University of Berne – BE                                                                          1.741320e+09
University of Basel – BS                                                                          1.512640e+09
EPF Lausanne – EPFL                                                                               1.381486e+09
University of Lausanne – LA                                                                       1.294302e+09
University of Fribourg – FR                                                                       5.031677e+08
University of Neuchatel – NE                                                                      4.238921e+08
Non-profit organisations (libraries, museums, academies, foundations) and administration – NPO    3.408352e+08
Name: Approved Amount, dtype: float64

In [62]:
df['Responsible Applicant'].value_counts().head(10) #Aufgabe 3

Kneubühl Fritz             47
Güntherodt Hans-Joachim    47
Pestalozzi Karl            46
Günter Peter               41
Stocker Thomas             39
Kraft Hanspeter            38
Vuilleumier Jean-Luc       36
Weber Heinz-P.             35
Renaud Philippe            35
Chergui Majed              35
Name: Responsible Applicant, dtype: int64