# 10 For-Loop-Rückblick-Übungen

In den Teilen der folgenden Übungen habe ich den Code mit "XXX" ausgewechselt. Es gilt in allen Übungen, den korrekten Code auszuführen und die Zelle dann auszuführen.

1.Drucke alle diese Prim-Zahlen aus:

In [2]:
primeNumbers = [2, 3, 5, 7]
for prime in primeNumbers:
    print(prime)

2
3
5
7

2.Drucke alle die Zahlen von 0 bis 4 aus:

In [5]:
for x in range(5):
    print(x)

0
1
2
3
4

3.Drucke die Zahlen 3,4,5 aus:

In [8]:
for x in range(3, 6):
    print(x)

3
4
5

4.Baue einen For-Loop, indem Du alle geraden Zahlen ausdruckst, die tiefer sind als 237.

In [13]:
numbers = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527
]

In [17]:
# Hier kommt Dein Code:

for number in numbers:
    if number%2 == 0 and number < 237:
        print(number)

236
236
162
104
58
24
126

In [7]:
#Lösung:

236
236
162
104
58
24
126

5.Addiere alle Zahlen in der Liste

In [20]:
added = 0

for number in numbers:
    added += number

print(added)

54189

In [8]:
#Lösung:

54189

6.Addiere nur die Zahlen, die gerade sind

In [23]:
new_list = []
for elem in numbers:
    if elem%2 == 0:
        new_list.append(elem)
sum(new_list)

25184

7.Drucke mit einem For Loop 5 Mal hintereinander Hello World aus

In [25]:
for i in range(5):
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [13]:
#Lösung

Hello World
Hello World
Hello World
Hello World
Hello World

8.Entwickle ein Programm, das alle Nummern zwischen 2000 und 3200 findet, die durch 7, aber nicht durch 5 teilbar sind. Das Ergebnis sollte auf einer Zeile ausgedruckt werden. Tipp: Schaue Dir [hier](https://www.tutorialspoint.com/python/comparison_operators_example.htm) die Vergleichsoperanden von Python an.

In [27]:
l=[]
for i in range(2000, 3200):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))

print(','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

9.Schreibe einen For Loop, der die Nummern in der folgenden Liste von int in str verwandelt.

In [33]:
lst = range(45,99)

In [36]:
lst = list(lst)
index = 0
print(lst)
for number in lst:
    lst[index] = str(number)
    index += 1

[45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98]

10.Schreibe nun ein Programm, das alle Ziffern 4 mit dem Buchstaben A ersetzte, alle Ziffern 5 mit dem Buchtaben B.

In [37]:
new_list = []
for elem in lst:
    if '4' in elem:
        elem = elem.replace('4', 'A')
    if '5' in elem:
        elem = elem.replace('5', 'B')
    new_list.append(elem)

In [34]:
newnewlist

['AB',
 'A6',
 'A7',
 'A8',
 'A9',
 'B0',
 'B1',
 'B2',
 'B3',
 'BA',
 'BB',
 'B6',
 'B7',
 'B8',
 'B9',
 '60',
 '61',
 '62',
 '63',
 '6A',
 '6B',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '7A',
 '7B',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '8A',
 '8B',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '9A',
 '9B',
 '96',
 '97',
 '98']