# First Steps with Pandas

In [45]:
import pandas as pd

# Importing Data

In [46]:
df = pd.read_csv('20171130_SIX_ManagementAktien.csv')

# Looking at Data

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1179 entries, 0 to 1178
Data columns (total 6 columns):
Unnamed: 0     1179 non-null int64
Company        1179 non-null object
Date           1179 non-null object
Price          1169 non-null object
Share Total    1179 non-null object
Type           1179 non-null object
dtypes: int64(1), object(5)
memory usage: 55.3+ KB

In [48]:
df.head()

,Unnamed: 0,Company,Date,Price,Share Total,Type
0,0,ABB Ltd,30.10.2017,362'229.00,14'323,Purchase
1,1,ABB Ltd,30.10.2017,304'289.00,12'032,Purchase
2,2,ABB Ltd,30.10.2017,10'060.00,500,Purchase
3,3,ABB Ltd,30.10.2017,10'060.00,500,Purchase
4,4,Banque Cantonale Vaudoise,27.10.2017,10'620.00,15,Purchase

# Deleting unnecessary data

In [49]:
del df['Unnamed: 0']

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1179 entries, 0 to 1178
Data columns (total 5 columns):
Company        1179 non-null object
Date           1179 non-null object
Price          1169 non-null object
Share Total    1179 non-null object
Type           1179 non-null object
dtypes: object(5)
memory usage: 46.1+ KB

# Data Types

Sharetotal und Price sollten Zahlen sind.

In [51]:
df['Share Total'].astype(int)

ValueError: invalid literal for int() with base 10: "14'323"

In [56]:
def comma(elem):
    elem = elem.replace("'", '')
    return elem

In [57]:
df['Share Total'] = df['Share Total'].apply(comma)

In [58]:
df['Share Total'] = df['Share Total'].astype(int)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1179 entries, 0 to 1178
Data columns (total 5 columns):
Company        1179 non-null object
Date           1179 non-null object
Price          1169 non-null object
Share Total    1179 non-null int64
Type           1179 non-null object
dtypes: int64(1), object(4)
memory usage: 46.1+ KB

In [60]:
df['Share Total'].sort_values(ascending=False).head()

1017    27205398
364      4859499
610      3496500
538      3000000
7        2190000
Name: Share Total, dtype: int64

In [61]:
df[df['Share Total']==27205398]

                Company        Date           Price  Share Total  Type
1017  KTM Industries AG  23.02.2017  133'306'450.20     27205398  Sale

In [69]:
df['Price'] = df['Price'].apply(comma)
df['Price'].astype(int)

ValueError: invalid literal for int() with base 10: '362229.00'

In [68]:
df['Price'].sort_values(ascending=False).head(20)

746          nan
756          nan
278          nan
279          nan
713          nan
725          nan
498          nan
996          nan
524          nan
747          nan
661    999400.00
670    997430.50
208     99662.50
528      9952.80
740     99314.00
126     99288.00
226     99243.75
63       9920.30
243     99054.25
316     99009.30
Name: Price, dtype: object